<section id="proyectos" class="proyectos animacion">
    <div class="container">

        <div class="section-title">
            <div class="d-flex">
                <h2>Proyectos</h2>
                <a (click)="nuevoProyecto()" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#NuevoProyectoModal"><i class="fas fa-plus-square"></i></a>
            </div>
        </div>

        <div class="row proyectos-container" data-aos="fade-up" data-aos-delay="100">
            <div *ngFor="let proyecto of listProyecto" class="col-lg-4 col-md-6 proyectos-item filter-app">
                <div class="proyectos-wrap">
                    <img src="{{proyecto.imgProyecto}}" class="img-fluid" alt="">
                    <div class="proyectos-info">
                        <div class="d-flex opciones">
                            <a (click)="editarProyecto(proyecto)" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#EditarProyectoModal"><i class="fas fa-edit"></i></a>
                            <a (click)="eliminarProyecto(proyecto.id)" type="button" class="btn"><i class="fas fa-trash-alt"></i></a>
                        </div>
                        <h4>{{proyecto.nombre}}</h4>
                        <p>{{proyecto.descripcion}}</p>
                        <div class="proyectos-links">
                            <a href="{{proyecto.githubProyecto}}" target="_blank" data-gallery="proyectosDetailsGallery" data-glightbox="type: external" class="proyectos-details-lightbox" title="Ver Código"><i class="fab fa-github mt-3 me-2"></i></a>
                            <a href="{{proyecto.urlProyecto}}" target="_blank" data-gallery="proyectosDetailsGallery" data-glightbox="type: external" class="proyectos-details-lightbox" title="Ver Proyecto"><i class="fas fa-link mt-3 ms-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>       
    </div>
</section>

<!-- MODAL NUEVO -->
<div class="modal fade form-modal" id="NuevoProyectoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="text-light">Nuevo Proyecto</h5>
                <button id="closeNuevoModalProyecto" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>               
            <div class="modal-body">
                <form [formGroup]="formNuevo">
                    <div>
                        <label for="nombreProyectoNuevo" class="col-form-label text-light">Nombre:</label>
                        <input type="text" class="form-control" id="nombreProyectoNuevo" formControlName="nombre">
                        <div *ngIf="formNuevo.get('nombre')?.invalid && (formNuevo.get('nombre')?.dirty || formNuevo.get('nombre')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('nombre')?.hasError('required')">*Ingrese el nombre del proyecto</small>
                        </div>
                    </div>
                    <div>
                        <label for="descripcionProyectoNuevo" class="col-form-label text-light">Descripción:</label>
                        <input type="text" class="form-control" id="descripcionProyectoNuevo" formControlName="descripcion">
                        <div *ngIf="formNuevo.get('descripcion')?.invalid && (formNuevo.get('descripcion')?.dirty || formNuevo.get('descripcion')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('descripcion')?.hasError('required')">*Ingrese la descripción del proyecto</small>
                        </div>
                    </div>
                    <div>
                        <label for="imgProyectoNuevo" class="col-form-label text-light">Foto del proyecto:</label>
                        <input type="text" class="form-control" id="imgProyectoNuevo" formControlName="imgProyecto">
                        <div *ngIf="formNuevo.get('imgProyecto')?.invalid && (formNuevo.get('imgProyecto')?.dirty || formNuevo.get('imgProyecto')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('imgProyecto')?.hasError('required')">*Ingrese una foto del proyecto</small>
                        </div>
                    </div>
                    <div>
                        <label for="githubProyectoNuevo" class="col-form-label text-light">GitHub del proyecto:</label>
                        <input type="text" class="form-control" id="githubProyectoNuevo" formControlName="githubProyecto">
                        <div *ngIf="formNuevo.get('githubProyecto')?.invalid && (formNuevo.get('githubProyecto')?.dirty || formNuevo.get('githubProyecto')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('githubProyecto')?.hasError('required')">*Ingrese el github del proyecto</small>
                        </div>
                    </div>
                    <div>
                        <label for="urlProyectoNuevo" class="col-form-label text-light">Link del proyecto:</label>
                        <input type="text" class="form-control" id="urlProyectoNuevo" formControlName="urlProyecto">
                        <div *ngIf="formNuevo.get('urlProyecto')?.invalid && (formNuevo.get('urlProyecto')?.dirty || formNuevo.get('urlProyecto')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('urlProyecto')?.hasError('required')">*Ingrese la url del proyecto</small>
                        </div>
                    </div>
                    <div class="modal-footer mt-4">
                        <button (click)="submitProyecto()" [disabled]="this.formNuevo.invalid" type="submit" class="btn btn-dark">Guardar</button>
                    </div>
                </form>
            </div>
        
        </div>
    </div>
</div>

<!-- MODAL EDITAR -->
<div class="modal fade form-modal" id="EditarProyectoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="text-light">Editar Proyecto</h5>
                <button id="closeEditarModalProyecto" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>               
            <div class="modal-body">
                <form [formGroup]="formEditar">
                    <div>
                        <label for="nombreProyectoEditar" class="col-form-label text-light">Nombre:</label>
                        <input type="text" class="form-control" id="nombreProyectoEditar" formControlName="nombre">
                        <div *ngIf="formEditar.get('nombre')?.invalid && (formEditar.get('nombre')?.dirty || formEditar.get('nombre')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('nombre')?.hasError('required')">*Ingrese el nombre del proyecto</small>
                        </div>
                    </div>
                    <div>
                        <label for="descripcionProyectoEditar" class="col-form-label text-light">Descripción:</label>
                        <input type="text" class="form-control" id="descripcionProyectoEditar" formControlName="descripcion">
                        <div *ngIf="formEditar.get('descripcion')?.invalid && (formEditar.get('descripcion')?.dirty || formEditar.get('descripcion')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('descripcion')?.hasError('required')">*Ingrese la descripción del proyecto</small>
                        </div>
                    </div>
                    <div>
                        <label for="imgProyectoEditar" class="col-form-label text-light">Foto del proyecto:</label>
                        <input type="text" class="form-control" id="imgProyectoEditar" formControlName="imgProyecto">
                        <div *ngIf="formEditar.get('imgProyecto')?.invalid && (formEditar.get('imgProyecto')?.dirty || formEditar.get('imgProyecto')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('imgProyecto')?.hasError('required')">*Ingrese una foto del proyecto</small>
                        </div>
                    </div>
                    <div>
                        <label for="githubProyectoNuevo" class="col-form-label text-light">GitHub del proyecto:</label>
                        <input type="text" class="form-control" id="githubProyectoNuevo" formControlName="githubProyecto">
                        <div *ngIf="formEditar.get('githubProyecto')?.invalid && (formEditar.get('githubProyecto')?.dirty || formEditar.get('githubProyecto')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('githubProyecto')?.hasError('required')">*Ingrese el github del proyecto</small>
                        </div>
                    </div>
                    <div>
                        <label for="urlProyectoEditar" class="col-form-label text-light">Url del proyecto:</label>
                        <input type="text" class="form-control" id="urlProyectoEditar" formControlName="urlProyecto">
                        <div *ngIf="formEditar.get('urlProyecto')?.invalid && (formEditar.get('urlProyecto')?.dirty || formEditar.get('urlProyecto')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('urlProyecto')?.hasError('required')">*Ingrese la url del proyecto</small>
                        </div>
                    </div>
                    <div class="modal-footer mt-4">
                        <button (click)="submitProyecto()" [disabled]="this.formEditar.invalid" type="submit" class="btn btn-dark">Guardar</button>
                    </div>
                </form>
            </div>
        
        </div>
    </div>
</div>
