<!--Bienvenida Usuario-->
<div *ngIf="nombreUsuario"></div>

<div class="cont">
    <div class="loader">
        <!--<img src="assets/img/nicodev.png" alt="">-->
    </div>
</div>

<i class="fas fa-mouse mobile-nav-toggle d-xl-none"></i>

<app-persona></app-persona>

<main id="main">
    <app-acerca-de></app-acerca-de>
    <app-educacion></app-educacion>
    <app-experiencia></app-experiencia>
    <app-habilidad></app-habilidad>
    <app-proyecto></app-proyecto>
    <app-social></app-social>
    <app-contacto></app-contacto>
</main>

<footer id="footer">
    <div class="container">
        <div class="credits">
            © Copyright 2022. <a href="">Nicolás Helman</a>
        </div>
    </div>
</footer>

<!-- ======= Boton redirect inicio ======= -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></a>