/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-blanco);
  background-color: var(--bg-dark);
}
  
a {
  color: var(--color-primario);
  text-decoration: none;
}
  
a:hover {
  color: var(--color-secundario);
  text-decoration: none;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

img {
  user-select: none;
}

/*--------------------------------------------------------------
:root - Colores de la pagina
--------------------------------------------------------------*/
:root {

  /*========== Colors ==========*/
  --color-primario: #64F4AC;
  --color-secundario: #4AD18C;
  --color-terciario: #347f5a;
  --color-blanco: #fff;
  --color-negro: #111;
  --color-icon: #212431;
  --bg-dark: #040b14;
  --bg-input: #2b2f3f;
  --text-header: #a8a9b4;
  --textsecond-header: #6f7180;
}

/*--------------------------------------------------------------
Scroll Bar
--------------------------------------------------------------*/
::-webkit-scrollbar{
  width: .60rem;
  background-color: var(--bg-dark);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb{
  background-color: var(--color-primario);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--color-secundario);
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--color-terciario);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
  box-shadow: 0 4px 17px rgba(170, 170, 170, 0.35);
}
.back-to-top i {
  font-size: 18px;
  color: var(--color-blanco);
  line-height: 0;
}
.back-to-top:hover {
  background: var(--color-primario);
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Loader
--------------------------------------------------------------*/
.cont {
  background-color: var(--bg-dark);
  width: 100%;
  height: 100%;
  position: fixed;
  transition: all 1.5s ease;
  z-index: 99999999;
  display: flex;
  justify-content: center !important;
  align-items: center;
  overflow: visible;
  user-select: none; 
}
@keyframes load {
  0% {
    left: 0;
    width: 0px; 
  }
  50% {
    left: 150px;
    width: 150px; 
  }
  100% {
    left: 300px;
    width: 0px; 
  } 
}
@keyframes loadMobile {
  0% {
    left: 0;
    width: 0px; 
  }
  50% {
    left: 100px;
    width: 100px; 
  }
  100% {
    left: 200px;
    width: 0px; 
  } 
}
.loader {
  position: relative;
  width: 300px;
  min-height: 8px; 
}
@media screen and (max-width: 480px) {
  .loader {
    width: 200px; 
  }
  .loader .reset {
    display: none; 
  }
  .loader .reset-responsive {
    display: block !important; 
  } 
}
.loader img {
  position: absolute;
  width: 265px;
  height: 40px;
  object-fit: cover;
  background-size: cover;
  top: -50px;
  left: 17px; 
}
@media screen and (max-width: 480px) {
  .loader img {
    position: absolute;
    width: 265px;
    height: 30px;
    object-fit: cover;
    background-size: cover;
    top: -50px;
    left: 1px; 
  }
  .loader img .reset {
    display: none; 
  }
  .loader img .reset-responsive {
    display: block !important; 
  } 
}
.loader::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 300px;
  min-height: 8px;
  background-color: var(--color-icon);
}
@media screen and (max-width: 480px) {
  .loader::before {
    width: 200px; 
  }
  .loader::before .reset {
    display: none; 
  }
  .loader::before .reset-responsive {
    display: block !important; 
  } 
}
.loader::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 30px;
  min-height: 8px;
  background-color: #64F4AC;
  box-shadow: 0px 0px 10px 2px rgba(100, 244, 172, 0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(100, 244, 172, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(100, 244, 172, 0.75);
  animation: load 1.5s linear infinite; 
}
@media screen and (max-width: 480px) {
  .loader::after {
    animation: loadMobile 1.5s linear infinite;
    width: 200px; 
  }
  .loader::after .reset {
    display: none; 
  }
  .loader::after .reset-responsive {
    display: block !important; 
  } 
}
  
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: var(--bg-dark);
  overflow-y: auto;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}
#header .profile img {
  margin: 15px auto;
  display: block;
  width: 170px;
  height: 170px;
  border: 8px solid #2c2f3f;
	transform: translatey(0px);
	animation: float 5s ease-in-out infinite;
}
#header .profile img:hover {
  border: 8px solid var(--color-primario);
  cursor: pointer;
}
#header .profile .img-perfil {
  transition: all 0.5s;
}
#header .profile .img-perfil:hover {
  transform: translateY(-3px);
}
#header .profile h1 {
  font-size: 22px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}
#header .profile h1 a, #header .profile h1 a:hover {
  color: var(--color-blanco);
  text-decoration: none;
  text-shadow: 2px 3px var(--color-negro);
}
#header .profile h1 a:hover {
  color: var(--color-primario);
  text-shadow: 2px 3px var(--color-negro);
}

@media (max-width: 1199px) {
  #header {
      left: -300px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 20px 0 0 0;
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav-menu a, .nav-menu a:focus {
  display: flex;
  align-items: center;
  color: var(--text-header);
  padding: 12px 15px;
  transition: 0.3s;
  font-size: 15px;
}
.nav-menu a i, .nav-menu a:focus i {
  font-size: 18px;
  padding-right: 10px;
  color: var(--textsecond-header);
}
.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
  text-decoration: none;
  color: var(--color-blanco);
}
.nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover > a i {
  color: var(--color-primario);
}
.nav-menu li a{
    transition: all 0.5s;
}
.nav-menu li a:hover{
    transform: translateY(-3px);
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: var(--color-terciario);
  color: var(--color-blanco);
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}
.mobile-nav-toggle:hover {
  background-color: var(--color-primario);
}
.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# Barra
--------------------------------------------------------------*/
#header .barra {
  padding: 0.75rem;
}
#header .barra .icon a {
  font-size: 18px;
  display: inline-block;
  background: var(--color-icon);
  color: var(--color-blanco);
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#header .barra .icon a:hover {
  background: var(--color-secundario);
  color: var(--color-blanco);
  text-decoration: none;
}
#header .barra .dark-mode i{
  font-size: 15px;
}
#header .barra .logo {
  margin: auto;
  transition: all 0.5s;
}
#header .barra .logo img{
  height: 40px;
  width: 100%;
}
#header .barra .logo:hover{
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(170, 170, 170, 0.35);
  cursor: pointer;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 220px 0;
  overflow: hidden;
}
.section-bg {
  background: var(--color-blanco);
}
.section-title {
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--color-secundario);
  transition: all 0.5s;
}
.section-title h2:hover {
  transform: translateY(-3px);
  color: var(--color-primario);
  cursor: pointer;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primario);
  bottom: 0;
  left: 0;
}
.section-title p {
  margin-bottom: 0;
}
.section-title i {
  color: var(--color-blanco);
  font-size: 25px;
}
.section-title i:hover {
  color: var(--color-primario);
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #main {
      margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Persona Section
--------------------------------------------------------------*/
#persona {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#persona:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#persona .persona-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
  opacity: 0.9;
}
#persona h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: var(--color-blanco);
  text-shadow: 2px 3px var(--color-negro);
}
#persona p {
  color: var(--color-blanco);
  margin-bottom: 100px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 3px var(--color-negro);
}
#persona p span {
  color: var(--color-blanco);
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid var(--color-primario);
}
#persona .scrollto a{
  transition: all 0.5s;
  margin-left: 170px;
}
#persona .scrollto a:hover{
  transform: translateY(-5px);
  color: #f5f8fd;
}
#persona .scrollto a i{
    padding: 5px 5px;
}
#persona .persona-container .icon i {
  color: var(--color-blanco);
  font-size: 25px;
}
#persona .persona-container .icon i:hover {
  color: var(--color-primario);
}

@media (min-width: 1024px) {
  #persona {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #persona h1 {
    font-size: 38px;
    line-height: 36px;
  }
  #persona p {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# acerca-de
--------------------------------------------------------------*/
.acerca-de {
  padding: 220px 50px;
}
.acerca-de img{
  width: 80%;
  border-radius: 10px;
}
.acerca-de .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--color-terciario);
}
.acerca-de .descripcion {
  margin-bottom: 50px;
}
.acerca-de .content ul {
  list-style: none;
  padding: 0;
}
.acerca-de .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.acerca-de .content ul strong {
  margin-right: 10px;
  transition: all 0.5s;
  font-size: 16px;
  color: var(--color-secundario);
}
.acerca-de .content ul strong:hover {
  transform: translateY(-3px);
  cursor: pointer;
  color: var(--color-primario);
}
.acerca-de .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--color-primario);
  line-height: 0;
}
.acerca-de .content ul i:hover {
  color: var(--color-terciario);
  cursor: pointer;
}
.acerca-de .content p {
  font-size: 18px;
}
.acerca-de .content p:last-child {
  margin-bottom: 0;
}
.acerca-de .cv {
  display: inline-block;
  background-color: var(--color-secundario);
  padding: 16px;
  border-radius: 8px;
  margin-top: 30px;
  transition: all 0.5s;
}
.acerca-de .cv:hover {
  background-color: var(--color-primario);
  box-shadow: 0 4px 17px rgba(170, 170, 170, 0.35);
  transform: translateY(-3px);
}
.acerca-de .cv a{
  display: inline-flex;
  color: var(--color-negro);
  font-weight: 600;
}
.acerca-de .cv a i {
  font-size: 18px;
}
.acerca-de .opciones{
  float: right;
}
.acerca-de .opciones i {
  color: var(--color-blanco);
  font-size: 16px;
}
.acerca-de .opciones i:hover {
  color: var(--color-primario);
}

@media (min-width: 1024px) {
  .acerca-de {
    padding: 170px 50px;
  }
  .acerca-de .content ul li {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .acerca-de {
    padding: 50px 50px;
  }
  .acerca-de .content ul li {
    font-size: 15px;
  }
}

/*--------------------------------------------------------------
# educacion
--------------------------------------------------------------*/
.educacion {
  padding: 150px 50px;
}
.educacion .icon-box {
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.5s;
}
.educacion .icon-box:hover{
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(170, 170, 170, 0.35);
  cursor: pointer;
  border-radius: 15px;
}
.educacion .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: all 0.5s;
}
.educacion .icon:hover {
  transform: translateY(-3px);
}
.educacion .icon img {
  color: var(--color-blanco);
  font-size: 24px;
  line-height: 0;
  width: 100%;
  height: 60px;
}
.educacion .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.educacion .title a {
  color: var(--color-blanco);
}
.educacion .title a:hover {
  color: var(--color-primario);
}
.educacion .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}
.educacion .fecha {
  margin-left: 80px;
  font-size: 12px;
  color: #6f7180;
}
.educacion .opciones{
  float: right;
}
.educacion .opciones i {
  font-size: 16px;
  color: var(--color-blanco);
}
.educacion .opciones i:hover {
  color: var(--color-primario);
}

@media (min-width: 1024px) {
  .educacion {
      padding: 170px 50px;
  }
}

@media (max-width: 768px) {
  .educacion {
      padding: 50px 50px;
  }
}

/*--------------------------------------------------------------
# experiencia
--------------------------------------------------------------*/
.experiencia {
  padding: 150px 50px;
}
.experiencia .icon-box {
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.5s;
}
.experiencia .icon-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(170, 170, 170, 0.35);
  cursor: pointer;
  border-radius: 15px;
}
.experiencia .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: all 0.5s;
}
.experiencia .icon:hover {
  transform: translateY(-3px);
}
.experiencia .icon img {
  color: var(--color-blanco);
  font-size: 24px;
  line-height: 0;
  width: 100%;
  height: 60px;
}
.experiencia .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.experiencia .title a {
  color: var(--color-blanco);
}
.experiencia .title a:hover {
  color: var(--color-primario);
}
.experiencia .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}
.experiencia .fecha {
  margin-left: 80px;
  font-size: 12px;
  color: #6f7180;
}
.experiencia .opciones{
  float: right;
}
.experiencia .opciones i {
  font-size: 16px;
  color: var(--color-blanco);
}
.experiencia .opciones i:hover {
  color: var(--color-primario);
}

@media (min-width: 1024px) {
  .experiencia {
      padding: 170px 50px;
  }
}

@media (max-width: 768px) {
  .experiencia {
      padding: 50px 50px;
  }
}

/*--------------------------------------------------------------
# Habilidades
--------------------------------------------------------------*/
.habilidades {
  padding: 150px 50px;
}
.habilidades .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}
.habilidades .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--color-blanco);
  font-size: 16px;
}
.habilidades .progress .skill:hover {
  color: var(--color-primario);
  cursor: pointer;
}
.habilidades .progress .skill .val {
  float: right;
  font-style: normal;
}
.habilidades .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}
.habilidades .progress-bar {
  width: 1px;
  height: 10px;
  transition: all 8s ease .8s;
  background-color: var(--color-secundario);
}
.habilidades .icon-box {
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.5s;
}
.habilidades .icon-box:hover{
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(170, 170, 170, 0.35);
  cursor: pointer;
  border-radius: 15px;
}
.habilidades .opciones{
  float: right;
}
.habilidades .opciones i {
  font-size: 16px;
  color: var(--color-blanco);
}
.habilidades .opciones i:hover {
  color: var(--color-primario);
}

@media (min-width: 1024px) {
  .habilidades {
      padding: 170px 50px;
  }
}

@media (max-width: 768px) {
  .habilidades {
      padding: 50px 50px;
  }
}

/*--------------------------------------------------------------
# proyectos
--------------------------------------------------------------*/
.proyectos {
  padding: 150px 50px;
}
.proyectos .proyectos-item {
  margin-bottom: 30px;
}
.proyectos .proyectos-wrap img {
  height: 250px;
  width: 100%;
  border-radius: 15px;
}
.proyectos .proyectos-wrap {
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.proyectos .proyectos-wrap:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(170, 170, 170, 0.35);
  cursor: pointer;
  border-radius: 15px;
}
.proyectos .proyectos-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
  height: 250px;
}
.proyectos .proyectos-wrap .proyectos-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proyectos .proyectos-wrap .proyectos-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid var(--color-blanco);
  border-left: 3px solid var(--color-blanco);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.proyectos .proyectos-wrap .proyectos-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid var(--color-blanco);
  border-right: 3px solid var(--color-blanco);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.proyectos .proyectos-wrap .proyectos-info h4 {
  font-size: 20px;
  color: var(--color-blanco);
  font-weight: 600;
}
.proyectos .proyectos-wrap .proyectos-info h4:hover {
  color: var(--color-primario);
}
.proyectos .proyectos-wrap .proyectos-info p {
  color: var(--color-blanco);
  font-size: 15px;
  padding: 0;
  margin: 0;
}
.proyectos .proyectos-wrap .proyectos-links {
  text-align: center;
  z-index: 4;
}
.proyectos .proyectos-wrap .proyectos-links a {
  color: var(--color-blanco);
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
.proyectos .proyectos-wrap .proyectos-links a:hover {
  color: var(--color-primario);
}
.proyectos .proyectos-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.proyectos .proyectos-wrap:hover .proyectos-info {
  opacity: 1;
}
.proyectos .proyectos-wrap:hover .proyectos-info::before {
  top: 15px;
  left: 15px;
}
.proyectos .proyectos-wrap:hover .proyectos-info::after {
  bottom: 15px;
  right: 15px;
}
.proyectos .opciones{
  float: right;
}
.proyectos .opciones i {
  color: var(--color-blanco);
  font-size: 16px;
}
.proyectos .opciones i:hover {
  color: var(--color-primario);
}

@media (min-width: 1024px) {
  .proyectos {
      padding: 170px 50px;
  }
}

@media (max-width: 768px) {
  .proyectos {
      padding: 50px 50px;
  }
}

/*--------------------------------------------------------------
# Social
--------------------------------------------------------------*/
.social {
  padding: 150px 50px;
}
.social .social-item {
  margin-bottom: 30px;
}
.social .wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  overflow: hidden;
  background: var(--color-icon);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  color: var(--color-blanco);
}
.social .wrapper .button:hover{
  width: 180px;
  box-shadow: 0 4px 17px rgba(170, 170, 170, 0.35);
}
.social .wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.social .wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.social .wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin: auto;
  transition: all 0.3s ease-out;
  color: var(--color-blanco);
  text-transform: capitalize;
}
.social .opciones{
  float: right;
}
.social .opciones i {
  color: var(--color-blanco);
  font-size: 16px;
}
.social .opciones i:hover {
  color: var(--color-primario);
}

/*--------------------------------------------------------------
# Contacto
--------------------------------------------------------------*/
.contacto {
  padding: 150px 50px;
}
.contacto .descripcion p {
  font-size: 18px;
}
.contacto .contacto-form input::-moz-placeholder, .contacto .contacto-form textarea::-moz-placeholder {
  color: var(--text-header);
  opacity: 1;
}
.contacto .contacto-form input::placeholder, .contacto .contacto-form textarea::placeholder {
  color: var(--text-header);
  opacity: 1;
}
.contacto .contacto-form .form-control {
  border-radius: 5px;
}
.contacto .contacto-form input {
  padding: 10px 15px;
  height: 50px;
}
.contacto .contacto-form textarea {
  padding: 10px 15px;
}
.contacto .contacto-form input, .contacto .contacto-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
  background: var(--color-icon);
  border: 0;
  transition: 0.3s;
  color: var(--color-blanco);
}
.contacto .contacto-form input:focus, .contacto .contacto-form textarea:focus {
  background-color: var(--bg-input);
}
.contacto .contacto-form button[type=submit] {
  background: var(--color-secundario);
  color: var(--color-negro);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 4px;
  font-weight: 600;
}
.contacto .contacto-form button[type=submit]:hover {
  background: var(--color-primario);
  box-shadow: 0 4px 17px rgba(170, 170, 170, 0.35);
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Animaciones
--------------------------------------------------------------*/
.animacion{   /*al bajarle la opacidad, ya no se ve*/
  opacity: 0;   /*para que no se vea*/
  transition: all 0.5s;   /*para que se vea la animación*/
}
  
/*keyframes: son los fotogramas o los cuadros donde vamos a poder definir la animacion
0%: le estamos diciendo que apenas empiece, el elemento se vaya hacia abajo porque usams la "Y" y numeros positivos 100%: lo que hace es subir
*/

.mostrarArriba {
  animation: mostrarArriba 1.5s;
}
@keyframes mostrarArriba {
  0%{
      transform: translateY(60px);
  }
  100%{
      transform: translateY(0);
  }
}

.mostrarDerecha {
    animation: mostrarDerecha 1s;
}
@keyframes mostrarDerecha {
  0%{
      transform: translateX(60px);
  }
  100%{
      transform: translateX(0);
  }
}

/*--------------------------------------------------------------
# Modal-Login
--------------------------------------------------------------*/
#loginModal {
  margin-top: 50px;
}
#loginModal .modal-body {
  width: 60%;
  margin: auto;
}
#loginModal .modal-header button {
  background-color: var(--color-blanco);
  opacity: 5;
}
#loginModal .modal-header button:hover {
  background-color: rgba(255, 255, 255, 0.733);
}
.modal-header img {
  height: 45px;
}
#loginModal .modal-content {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#loginModal .modal-content i {
  font-size: 120px;
  color: var(--color-blanco);
}
#loginModal .modal-footer button {
  margin: auto;
  border-color: var(--color-blanco);
}
#loginModal .modal-footer button:hover {
  margin: auto;
  background-color: var(--color-blanco);
  color: var(--color-negro);
}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.form-modal {
  margin-top: 50px;
}
.form-modal .modal-body {
  width: 60%;
  margin: auto;
}
.form-modal .modal-header button {
  background-color: var(--color-blanco);
  opacity: 5;
}
.form-modal .modal-header button:hover {
  background-color: rgba(255, 255, 255, 0.733);
}
.form-modal .modal-content {
  width: 100%;
  background: #040b14;
}
.form-modal .modal-content i {
  font-size: 120px;
  color: var(--color-blanco);
}
.form-modal .modal-footer button {
  margin: auto;
  border-color: var(--color-blanco);
}
.form-modal .modal-footer button:hover {
  margin: auto;
  background-color: var(--color-blanco);
  color: var(--color-negro);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: var(--bg-dark);
}
#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}
@media (max-width: 1300px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}