<header id="header">
    <div class="d-flex flex-column">
        <div class="barra d-flex">

            <div class="dark-mode">
                <!--Theme change button-->
                <a href="">
                    <i class="fas fa-moon change-theme" id="theme-button"></i>
                </a>
            </div>
      
            <div class="logo">
                <img src="assets/img/argentina-programa.png" alt="">
            </div>
            
            <div class="login">
                <a type="button" class="btn" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fas fa-sign-in-alt"></i></a>
            </div>
            <!-- Modal Login -->
            <div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content" style="background-image: url(assets/img/fondo-login.jpg)">
                    <div class="modal-header">
                      <img src="assets/img/argentina-programa.png" alt="">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <i class="text-center mt-2 fas fa-user-circle"></i>
                    <div class="modal-body">
                      <form>
                        <div class="mb-3">
                          <label for="username" class="col-form-label text-light">Username:</label>
                          <input type="text" class="form-control" id="username">
                        </div>
                        <div class="mb-3">
                          <label for="password" class="col-form-label text-light">Password:</label>
                          <input type="password" class="form-control" id="password">
                        </div>
                        <div class="modal-footer mt-4">
                          <button type="button" class="btn btn-dark">Acceder</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
                    
        </div>
        
        <div class="profile">
            <img src="{{persona.imgPerfil}}" alt="" class="img-perfil img-fluid rounded-circle">
            <h1 class=""><a href="">{{persona.nombre}}</a></h1>
        </div>
        
        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="#inicio" class="nav-link scrollto active"><i class="fas fa-university"></i> <span>Inicio</span></a></li>
                <li><a href="#acerca-de" class="nav-link scrollto"><i class="fas fa-user"></i> <span>Acerca de mí</span></a></li>
                <li><a href="#educacion" class="nav-link scrollto"><i class="fas fa-user-graduate"></i><span>Educación</span></a></li>
                <li><a href="#experiencia" class="nav-link scrollto"><i class="fas fa-book"></i> <span>Experiencia</span></a></li>
                <li><a href="#habilidades" class="nav-link scrollto"><i class="fas fa-swatchbook"></i> <span>Habilidades</span></a></li>
                <li><a href="#proyectos" class="nav-link scrollto"><i class="fas fa-server"></i> <span>Proyectos</span></a></li>
            </ul>
        </nav>

    </div>
</header>

<section id="inicio" class="d-flex flex-column justify-content-center align-items-center" style="background-image: url({{persona.imgPortada}})">
    <div class="inicio-container mostrarArriba" data-aos="fade-in">
        <div class="d-flex icon">
            <h1>{{persona.nombre}}</h1>
            <a (click)="dataForm()" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#PersonaModal"><i class="fas fa-edit"></i></a>
        </div>
        
        <p>{{persona.cargo}} <span class="typed" attr.data-typed-items="{{persona.tipoCargo}}"></span></p>

    </div>
</section>

<!-- MODAL PERSONA -->
<div class="modal fade form-modal" id="PersonaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="text-light">Persona</h5>
                <button id="closeModalPersona" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>               
            <div class="modal-body">
                <form [formGroup]="form">
                    <div>
                        <label for="nombre" class="col-form-label text-light">Nombre y Apellido:</label>
                        <input type="text" class="form-control" id="nombre" formControlName="nombre">
                    </div>
                    <div>
                        <label for="imgPerfil" class="col-form-label text-light">Foto de perfil:</label>
                        <input type="text" class="form-control" id="imgPerfil" formControlName="imgPerfil">
                    </div>
                    <div>
                        <label for="imgPortada" class="col-form-label text-light">Foto de portada:</label>
                        <input type="text" class="form-control" id="imgPortada" formControlName="imgPortada">
                    </div>
                    <div>
                        <label for="cargo" class="col-form-label text-light">Cargo:</label>
                        <input type="text" class="form-control" id="cargo" formControlName="cargo">
                    </div>
                    <div>
                        <label for="tipoCargo" class="col-form-label text-light">Tipo de cargo (ej. frontend, backend, fullstack):</label>
                        <input type="text" class="form-control" id="tipoCargo" formControlName="tipoCargo">
                    </div>
                    <div class="modal-footer mt-4"> 
                        <button (click)="newPersona()" [disabled]="this.form.invalid" type="submit" class="btn btn-dark">Guardar</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
