<header id="header">
    <div class="d-flex flex-column">
        <div class="barra d-flex">

            <div class="dark-mode icon">
                <a href="">
                    <i class="fas fa-moon change-theme" id="theme-button"></i>
                </a>
            </div>
      
            <div class="logo">
                <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
                    <img src="assets/img/argentina-programa.png" alt="">
                </a>
            </div>
            
            <div class="login icon">
                <a *ngIf="!isLogged" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#loginModal">
                    <i class="fas fa-sign-in-alt"></i>
                </a>
                <a *ngIf="isLogged" (click)="logout()" type="button" class="btn">
                    <i class="fas fa-power-off"></i>
                </a>
            </div>

            <!-- MODAL LOGIN -->
            <app-login></app-login>

        </div>

        <div *ngIf="listPersona?.length == 0" class="profile">
            <img src="assets/img/user.png" alt="" class="img-perfil img-fluid rounded-circle">
            <h1 class=""><a href="">Nombre Apellido</a></h1>
        </div>
        
        <div *ngIf="listPersona" class="profile">
            <div *ngFor="let persona of listPersona">
                <img src="{{persona.imgPerfil}}" alt="" class="img-perfil img-fluid rounded-circle">
                <h1 class=""><a href="">{{persona.nombre}}</a></h1>
            </div>
        </div>
        
        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="#persona" class="nav-link scrollto active"><i class="fas fa-university"></i> <span>Inicio</span></a></li>
                <li><a href="#acerca-de" class="nav-link scrollto"><i class="fas fa-user"></i> <span>Acerca de mí</span></a></li>
                <li><a href="#educacion" class="nav-link scrollto"><i class="fas fa-user-graduate"></i><span>Educación</span></a></li>
                <li><a href="#experiencia" class="nav-link scrollto"><i class="fas fa-book"></i> <span>Experiencia</span></a></li>
                <li><a href="#habilidades" class="nav-link scrollto"><i class="fas fa-swatchbook"></i> <span>Habilidades</span></a></li>
                <li><a href="#proyectos" class="nav-link scrollto"><i class="fas fa-server"></i> <span>Proyectos</span></a></li>
                <li><a href="#social" class="nav-link scrollto"><i class="fas fa-hashtag"></i> <span>Redes</span></a></li>
                <li><a href="#contacto" class="nav-link scrollto"><i class="fas fa-envelope"></i> <span>Contacto</span></a></li>
            </ul>
        </nav>

    </div>
</header>

<section *ngIf="listPersona?.length == 0" id="persona" class="d-flex flex-column justify-content-center align-items-center" style="background-image: url(assets/img/fondo.jpg)">
    <div class="persona-container mostrarArriba" data-aos="fade-in">
        
        <div class="d-flex icon">
            <h1>Nombre Apellido</h1>
            <a *ngIf="isAdmin" (click)="nuevoPersona()" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#NuevoPersonaModal"><i class="fas fa-plus-square"></i></a>
        </div>
        
        <p>Cargo <span class="typed" data-typed-items="Tipo, Cargo"></span></p>

    </div>
</section>

<div *ngIf="listPersona">
    <section *ngFor="let persona of listPersona" id="persona" class="d-flex flex-column justify-content-center align-items-center" style="background-image: url({{persona.imgPortada}})">
        <div class="persona-container mostrarArriba" data-aos="fade-in">
            
            <div class="d-flex icon">
                <h1>{{persona.nombre}}</h1>
                <div *ngIf="isAdmin" class="d-flex opciones">
                    <a (click)="editarPersona(persona)" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#EditarPersonaModal"><i class="fas fa-edit"></i></a>
                    <a (click)="eliminarPersona(persona.id)" type="button" class="btn"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>

            <p>{{persona.cargo}} <span class="typed" attr.data-typed-items="{{persona.tipoCargo}}"></span></p>

        </div>
    </section>
</div>

<!-- MODAL NUEVO -->
<div class="modal fade form-modal" id="NuevoPersonaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="text-light">Nueva Persona</h5>
                <button id="closeNuevoModalPersona" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>               
            <div class="modal-body">
                <form [formGroup]="formNuevo">
                    <div>
                        <label for="nombrePersonaNuevo" class="col-form-label text-light">Nombre y Apellido:</label>
                        <input type="text" class="form-control" id="nombrePersonaNuevo" formControlName="nombre">
                        <div *ngIf="formNuevo.get('nombre')?.invalid && (formNuevo.get('nombre')?.dirty || formNuevo.get('nombre')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('nombre')?.hasError('required')">*Ingrese el nombre y apellido</small>
                        </div>
                    </div>
                    <div>
                        <label for="imgPerfilPersonaNuevo" class="col-form-label text-light">Foto de perfil:</label>
                        <input type="text" class="form-control" id="imgPerfilPersonaNuevo" formControlName="imgPerfil">
                        <div *ngIf="formNuevo.get('imgPerfil')?.invalid && (formNuevo.get('imgPerfil')?.dirty || formNuevo.get('imgPerfil')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('imgPerfil')?.hasError('required')">*Ingrese la foto de perfil</small>
                        </div>
                    </div>
                    <div>
                        <label for="imgPortadaPersonaNuevo" class="col-form-label text-light">Foto de portada:</label>
                        <input type="text" class="form-control" id="imgPortadaPersonaNuevo" formControlName="imgPortada">
                        <div *ngIf="formNuevo.get('imgPortada')?.invalid && (formNuevo.get('imgPortada')?.dirty || formNuevo.get('imgPortada')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('imgPortada')?.hasError('required')">*Ingrese la foto de portada</small>
                        </div>
                    </div>
                    <div>
                        <label for="cargoPersonaNuevo" class="col-form-label text-light">Cargo:</label>
                        <input type="text" class="form-control" id="cargoPersonaNuevo" formControlName="cargo">
                        <div *ngIf="formNuevo.get('cargo')?.invalid && (formNuevo.get('cargo')?.dirty || formNuevo.get('cargo')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('cargo')?.hasError('required')">*Ingrese el cargo</small>
                        </div>
                    </div>
                    <div>
                        <label for="tipoCargoPersonaNuevo" class="col-form-label text-light">Tipo de cargo (ej. frontend, backend, fullstack):</label>
                        <input type="text" class="form-control" id="tipoCargoPersonaNuevo" formControlName="tipoCargo">
                        <div *ngIf="formNuevo.get('tipoCargo')?.invalid && (formNuevo.get('tipoCargo')?.dirty || formNuevo.get('tipoCargo')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('tipoCargo')?.hasError('required')">*Ingrese el tipo de cargo</small>
                        </div>
                    </div>
                    <div class="modal-footer mt-4"> 
                        <button (click)="submitPersona()" [disabled]="this.formNuevo.invalid" type="submit" class="btn btn-dark">Guardar</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>

<!-- MODAL EDITAR -->
<div class="modal fade form-modal" id="EditarPersonaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="text-light">Editar Persona</h5>
                <button id="closeEditarModalPersona" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>               
            <div class="modal-body">
                <form [formGroup]="formEditar">
                    <div>
                        <label for="nombrePersonaEditar" class="col-form-label text-light">Nombre y Apellido:</label>
                        <input type="text" class="form-control" id="nombrePersonaEditar" formControlName="nombre">
                        <div *ngIf="formEditar.get('nombre')?.invalid && (formEditar.get('nombre')?.dirty || formEditar.get('nombre')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('nombre')?.hasError('required')">*Ingrese el nombre y apellido</small>
                        </div>
                    </div>
                    <div>
                        <label for="imgPerfilPersonaEditar" class="col-form-label text-light">Foto de perfil:</label>
                        <input type="text" class="form-control" id="imgPerfilPersonaEditar" formControlName="imgPerfil">
                        <div *ngIf="formEditar.get('imgPerfil')?.invalid && (formEditar.get('imgPerfil')?.dirty || formEditar.get('imgPerfil')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('imgPerfil')?.hasError('required')">*Ingrese la foto de perfil</small>
                        </div>
                    </div>
                    <div>
                        <label for="imgPortadaPersonaEditar" class="col-form-label text-light">Foto de portada:</label>
                        <input type="text" class="form-control" id="imgPortadaPersonaEditar" formControlName="imgPortada">
                        <div *ngIf="formEditar.get('imgPortada')?.invalid && (formEditar.get('imgPortada')?.dirty || formEditar.get('imgPortada')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('imgPortada')?.hasError('required')">*Ingrese la foto de portada</small>
                        </div>
                    </div>
                    <div>
                        <label for="cargoPersonaEditar" class="col-form-label text-light">Cargo:</label>
                        <input type="text" class="form-control" id="cargoPersonaEditar" formControlName="cargo">
                        <div *ngIf="formEditar.get('cargo')?.invalid && (formEditar.get('cargo')?.dirty || formEditar.get('cargo')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('cargo')?.hasError('required')">*Ingrese el cargo</small>
                        </div>
                    </div>
                    <div>
                        <label for="tipoCargoPersonaEditar" class="col-form-label text-light">Tipo de cargo (ej. frontend, backend, fullstack):</label>
                        <input type="text" class="form-control" id="tipoCargoPersonaEditar" formControlName="tipoCargo">
                        <div *ngIf="formEditar.get('tipoCargo')?.invalid && (formEditar.get('tipoCargo')?.dirty || formEditar.get('tipoCargo')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('tipoCargo')?.hasError('required')">*Ingrese el tipo de cargo</small>
                        </div>
                    </div>
                    <div class="modal-footer mt-4"> 
                        <button (click)="submitPersona()" [disabled]="this.formEditar.invalid" type="submit" class="btn btn-dark">Guardar</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>