<section id="experiencia" class="experiencia animacion">
    <div class="container">

        <div class="section-title">
            <div class="d-flex">
                <h2>Experiencia</h2>
                <a (click)="nuevoExperiencia()" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#NuevoExperienciaModal"><i class="fas fa-plus-square"></i></a>
            </div>
        </div>

        <div class="row">
            <div *ngFor="let experiencia of listExperiencia" class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                <div class="d-flex opciones">
                    <a (click)="editarExperiencia(experiencia)" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#EditarExperienciaModal"><i class="fas fa-edit"></i></a>
                    <a (click)="eliminarExperiencia(experiencia.id)" type="button" class="btn"><i class="fas fa-trash-alt"></i></a>
                </div>
                <div class="icon">
                    <img src="{{experiencia.imgEmpresa}}" alt="">
                </div>
                <h4 class="title"><a href="">{{experiencia.empresa}}</a></h4>
                <p class="description">{{experiencia.cargo}}</p>
                <p class="fecha">{{experiencia.fechaInicio | date: 'dd/MM/yyyy':'UTC'}} - {{experiencia.fechaFin | date: 'dd/MM/yyyy':'UTC'}}</p>
            </div>
        </div> 

    </div>
</section>

<!-- MODAL NUEVO -->
<div class="modal fade form-modal" id="NuevoExperienciaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="text-light">Nueva Experiencia</h5>
                <button id="closeNuevoModalExperiencia" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>               
            <div class="modal-body">
                <form [formGroup]="formNuevo">
                    <div>
                        <label for="empresaExperienciaNuevo" class="col-form-label text-light">Empresa:</label>
                        <input type="text" class="form-control" id="empresaExperienciaNuevo" formControlName="empresa">
                        <div *ngIf="formNuevo.get('empresa')?.invalid && (formNuevo.get('empresa')?.dirty || formNuevo.get('empresa')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('empresa')?.hasError('required')">*Ingrese el nombre de la empresa</small>
                        </div>
                    </div>
                    <div>
                        <label for="cargoEmpresaNuevo" class="col-form-label text-light">Cargo:</label>
                        <input type="text" class="form-control" id="cargoEmpresaNuevo" formControlName="cargo">
                        <div *ngIf="formNuevo.get('cargo')?.invalid && (formNuevo.get('cargo')?.dirty || formNuevo.get('cargo')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('cargo')?.hasError('required')">*Ingrese el cargo en la empresa</small>
                        </div>
                    </div>
                    <div>
                        <label for="fechaInicioExperienciaNuevo" class="col-form-label text-light">Fecha inicio:</label>
                        <input type="date" class="form-control" id="fechaInicioExperienciaNuevo" formControlName="fechaInicio">
                        <div *ngIf="formNuevo.get('fechaInicio')?.invalid && (formNuevo.get('fechaInicio')?.dirty || formNuevo.get('fechaInicio')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('fechaInicio')?.hasError('required')">*Ingrese la fecha de inicio</small>
                        </div>
                    </div>
                    <div>
                        <label for="fechaFinExperienciaNuevo" class="col-form-label text-light">Fecha fin:</label>
                        <input type="date" class="form-control" id="fechaFinExperienciaNuevo" formControlName="fechaFin">
                        <div *ngIf="formNuevo.get('fechaFin')?.invalid && (formNuevo.get('fechaFin')?.dirty || formNuevo.get('fechaFin')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('fechaFin')?.hasError('required')">*Ingrese la fecha de fin</small>
                        </div>
                    </div>
                    <div>
                        <label for="imgEmpresaExperienciaNuevo" class="col-form-label text-light">Foto de Empresa:</label>
                        <input type="text" class="form-control" id="imgEmpresaExperienciaNuevo" formControlName="imgEmpresa">
                        <div *ngIf="formNuevo.get('imgEmpresa')?.invalid && (formNuevo.get('imgEmpresa')?.dirty || formNuevo.get('imgEmpresa')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('imgEmpresa')?.hasError('required')">*Ingrese una foto de la empresa</small>
                        </div>
                    </div>
                    <div class="modal-footer mt-4">
                        <button (click)="submitExperiencia()" [disabled]="this.formNuevo.invalid" type="submit" class="btn btn-dark">Guardar</button>
                    </div>
                </form>
            </div>
        
        </div>
    </div>
</div>

<!-- MODAL EDITAR -->
<div class="modal fade form-modal" id="EditarExperienciaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="text-light">Editar Experiencia</h5>
                <button id="closeEditarModalExperiencia" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>               
            <div class="modal-body">
                <form [formGroup]="formEditar">
                    <div>
                        <label for="empresaExperienciaEditar" class="col-form-label text-light">Empresa:</label>
                        <input type="text" class="form-control" id="empresaExperienciaEditar" formControlName="empresa">
                        <div *ngIf="formEditar.get('empresa')?.invalid && (formEditar.get('empresa')?.dirty || formEditar.get('empresa')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('empresa')?.hasError('required')">*Ingrese el nombre de la empresa</small>
                        </div>
                    </div>
                    <div>
                        <label for="cargoEmpresaEditar" class="col-form-label text-light">Cargo:</label>
                        <input type="text" class="form-control" id="cargoEmpresaEditar" formControlName="cargo">
                        <div *ngIf="formEditar.get('cargo')?.invalid && (formEditar.get('cargo')?.dirty || formEditar.get('cargo')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('cargo')?.hasError('required')">*Ingrese el cargo en la empresa</small>
                        </div>
                    </div>
                    <div>
                        <label for="fechaInicioExperienciaEditar" class="col-form-label text-light">Fecha inicio:</label>
                        <input type="date" class="form-control" id="fechaInicioExperienciaEditar" formControlName="fechaInicio">
                        <div *ngIf="formEditar.get('fechaInicio')?.invalid && (formEditar.get('fechaInicio')?.dirty || formEditar.get('fechaInicio')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('fechaInicio')?.hasError('required')">*Ingrese la fecha de inicio</small>
                        </div>
                    </div>
                    <div>
                        <label for="fechaFinExperienciaEditar" class="col-form-label text-light">Fecha fin:</label>
                        <input type="date" class="form-control" id="fechaFinExperienciaEditar" formControlName="fechaFin">
                        <div *ngIf="formEditar.get('fechaFin')?.invalid && (formEditar.get('fechaFin')?.dirty || formEditar.get('fechaFin')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('fechaFin')?.hasError('required')">*Ingrese la fecha de fin</small>
                        </div>
                    </div>
                    <div>
                        <label for="imgEmpresaExperienciaEditar" class="col-form-label text-light">Foto de Empresa:</label>
                        <input type="text" class="form-control" id="imgEmpresaExperienciaEditar" formControlName="imgEmpresa">
                        <div *ngIf="formEditar.get('imgEmpresa')?.invalid && (formEditar.get('imgEmpresa')?.dirty || formEditar.get('imgEmpresa')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('imgEmpresa')?.hasError('required')">*Ingrese una foto de la empresa</small>
                        </div>
                    </div>
                    <div class="modal-footer mt-4">
                        <button (click)="submitExperiencia()" [disabled]="this.formEditar.invalid" type="submit" class="btn btn-dark">Guardar</button>
                    </div>
                </form>
            </div>
        
        </div>
    </div>
</div>