<section id="educacion" class="educacion animacion">
    <div class="container">

        <div class="section-title">
            <div class="d-flex">
                <h2>Educación</h2>
                <a (click)="nuevoEducacion()" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#EducacionModal"><i class="fas fa-plus-square"></i></a>
            </div>
        </div>

        <div class="row" >
            <div *ngFor="let educacion of listEducacion" class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                <div class="d-flex opciones">
                    <a (click)="editarEducacion(educacion)" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#EducacionModal"><i class="fas fa-edit"></i></a>
                    <a (click)="eliminarEducacion(educacion.id)" type="button" class="btn"><i class="fas fa-trash-alt"></i></a>
                </div>
                <div class="icon">
                    <img src="{{educacion.imgInstitucion}}" alt="">
                </div>
                <h4 class="title"><a href="">{{educacion.institucion}}</a></h4>
                <p class="description">{{educacion.titulo}}</p>
                <p class="fecha">{{educacion.fechaInicio | date: 'dd/MM/yyyy':'UTC'}} - {{educacion.fechaFin | date: 'dd/MM/yyyy':'UTC'}}</p>
            </div>
        </div> 

    </div>
</section>

<div class="modal fade form-modal" id="EducacionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="text-light">Educación</h5>
                <button id="closeModalEducacion" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>               
            <div class="modal-body">
                <form [formGroup]="form">
                    <div>
                        <label for="institucion" class="col-form-label text-light">Institución:</label>
                        <input type="text" class="form-control" id="institucion" formControlName="institucion">
                    </div>
                    <div>
                        <label for="titulo" class="col-form-label text-light">Título:</label>
                        <input type="text" class="form-control" id="titulo" formControlName="titulo">
                    </div>
                    <div>
                        <label for="fechaInicioEducacion" class="col-form-label text-light">Fecha inicio:</label>
                        <input type="date" class="form-control" id="fechaInicioEducacion" formControlName="fechaInicio">
                    </div>
                    <div>
                        <label for="fechaFinEducacion" class="col-form-label text-light">Fecha fin:</label>
                        <input type="date" class="form-control" id="fechaFinEducacion" formControlName="fechaFin">
                    </div>
                    <div>
                        <label for="imgInstitucion" class="col-form-label text-light">Foto de Institución:</label>
                        <input type="text" class="form-control" id="imgInstitucion" formControlName="imgInstitucion">
                    </div>
                    <div class="modal-footer mt-4">
                        <button (click)="newEducacion()" [disabled]="this.form.invalid" type="submit" class="btn btn-dark">Guardar</button>
                    </div>
                </form>
            </div>
        
        </div>
    </div>
</div>
