<section id="habilidades" class="habilidades animacion">
    <div class="container">

        <div class="section-title">
            <div class="d-flex">
                <h2>Habilidades</h2>
                <a (click)="nuevoHabilidad()" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#NuevoHabilidadModal"><i class="fas fa-plus-square"></i></a>
            </div>
        </div>

        <div class="row habilidades-content">
            <div *ngFor="let habilidad of listHabilidad" class="col-lg-6 col-md-6" data-aos="fade-up">
                <div class="icon-box" data-aos="fade-up">
                    
                    <div class="d-flex opciones">
                        <a (click)="editarHabilidad(habilidad)" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#EditarHabilidadModal"><i class="fas fa-edit"></i></a>
                        <a (click)="eliminarHabilidad(habilidad.id)" type="button" class="btn"><i class="fas fa-trash-alt"></i></a>
                    </div>

                    <div class="progress">
                        <span class="skill">{{habilidad.tipo}} <i class="val">{{habilidad.porcentaje}}%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{habilidad.porcentaje}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MODAL NUEVO -->
<div class="modal fade form-modal" id="NuevoHabilidadModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="text-light">Nueva Habilidad</h5>
                <button id="closeNuevoModalHabilidad" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>               
            <div class="modal-body">
                <form [formGroup]="formNuevo">
                    <div>
                        <label for="tipoHabilidadNuevo" class="col-form-label text-light">Tipo de habilidad:</label>
                        <input type="text" class="form-control" id="tipoHabilidadNuevo" formControlName="tipo">
                        <div *ngIf="formNuevo.get('tipo')?.invalid && (formNuevo.get('tipo')?.dirty || formNuevo.get('tipo')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('tipo')?.hasError('required')">*Ingrese el tipo de habilidad</small>
                        </div>
                    </div>
                    <div>
                        <label for="porcentajeHabilidadNuevo" class="col-form-label text-light">Porcentaje de aprendizaje:</label>
                        <input type="number" min="1" max="100" class="form-control" id="porcentajeHabilidadNuevo" formControlName="porcentaje">
                        <div *ngIf="formNuevo.get('porcentaje')?.invalid && (formNuevo.get('porcentaje')?.dirty || formNuevo.get('porcentaje')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('porcentaje')?.hasError('required')">*Ingrese el porcentaje de aprendizaje</small>
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('porcentaje')?.hasError('min')">*El porcentaje debe ser 1 o más</small>
                            <small class="text-danger fw-bolder" *ngIf="formNuevo.get('porcentaje')?.hasError('max')">*El porcentaje debe ser 100 o menos</small>
                        </div>
                    </div>
                    <div class="modal-footer mt-4">
                        <button (click)="submitHabilidad()" [disabled]="this.formNuevo.invalid" type="submit" class="btn btn-dark">Guardar</button>
                    </div>
                </form>
            </div>
        
        </div>
    </div>
</div>

<!-- MODAL EDITAR -->
<div class="modal fade form-modal" id="EditarHabilidadModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="text-light">Editar Habilidad</h5>
                <button id="closeEditarModalHabilidad" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>               
            <div class="modal-body">
                <form [formGroup]="formEditar">
                    <div>
                        <label for="tipoHabilidadEditar" class="col-form-label text-light">Tipo de habilidad:</label>
                        <input type="text" class="form-control" id="tipoHabilidadEditar" formControlName="tipo">
                        <div *ngIf="formEditar.get('tipo')?.invalid && (formEditar.get('tipo')?.dirty || formEditar.get('tipo')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('tipo')?.hasError('required')">*Ingrese el tipo de habilidad</small>
                        </div>
                    </div>
                    <div>
                        <label for="porcentajeHabilidadEditar" class="col-form-label text-light">Porcentaje de aprendizaje:</label>
                        <input type="number" min="1" max="100" class="form-control" id="porcentajeHabilidadEditar" formControlName="porcentaje">
                        <div *ngIf="formEditar.get('porcentaje')?.invalid && (formEditar.get('porcentaje')?.dirty || formEditar.get('porcentaje')?.touched)">
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('porcentaje')?.hasError('required')">*Ingrese el porcentaje de aprendizaje</small>
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('porcentaje')?.hasError('min')">*El porcentaje debe ser 1 o más</small>
                            <small class="text-danger fw-bolder" *ngIf="formEditar.get('porcentaje')?.hasError('max')">*El porcentaje debe ser 100 o menos</small>
                        </div>
                    </div>
                    <div class="modal-footer mt-4">
                        <button (click)="submitHabilidad()" [disabled]="this.formEditar.invalid" type="submit" class="btn btn-dark">Guardar</button>
                    </div>
                </form>
            </div>
        
        </div>
    </div>
</div>